

  <div class="header  pb-8 pt-5 pt-md-8" style="background-color: #2C3144">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->


      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--7">
    <div class="row">
      <div class="col">
        <!--<div class="card shadow border-0" style="height: 1000px;"> -->
        <div>
          <div class="container"   >
            <h1  style="color:#FFFFFF;">Les Informations Générales sur le chauffeur {{chauffeur.firstname +" "+ chauffeur.lastname}}</h1></div>

          <div class="container">
            <div class="main-body">



              <div class="row gutters-sm"  >
                <div class="col-md-12 mb-2" >


                </div>
                <div class="col-md-12">
                  <div class="card mb-12">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-6">

                          <div >
                            <h4 class="text-primary">Nom</h4>
                          </div>
                          <div class="col-sm-9 " style="color: #0a0c0d">
                            {{chauffeur.firstname}}
                          </div>

                          <hr>
                        </div>

                        <div class="col-6">

                          <div >
                            <h4 class="text-primary">Prénom</h4>
                          </div>
                          <div class="col-sm-9 ">
                            {{chauffeur.lastname}}
                          </div>

                          <hr>
                        </div>

                      </div>

                      <div class="row">
                        <div class="col-6">

                          <div >
                            <h4 class="text-primary">Cin</h4>
                          </div>
                          <div >
                            {{chauffeur.cin}}

                          </div>
                          <hr>

                        </div>





                        <div class="col-6">

                          <div >
                            <h4 class="text-primary">Date de naissance </h4>
                          </div>
                          <div >
                            {{chauffeur.datenaissance}}

                          </div>

                          <hr>
                        </div>


                      </div>



                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>













        </div>
        <div>



        </div>

      </div>
    </div>
  </div>





